  <div class=" w-[500px] dark:bg-black dark:bg-opacity-90
  bg-white p-10 absolute shadow-lg rounded-2xl">
  <div class="cursor-pointer justify-between m-0">
    <a class="col-span-1"><i class="fa-regular fa-x text-l dark:text-white"></i>
    </a>
</div>
<div class="flex justify-center p-0">
    <a href="#" class="text-main-blue rounded-full ml-1 pt-1 m-3 hover:bg-main-blue_0 transition-colors">
        <i class="fa-brands fa-twitter text-5xl dark:text-white"></i>
    </a>
</div>
<h1 class="text-3xl font-bold dark:text-white mb-5">Enter your password</h1>
<form #loginForm=ngForm (ngSubmit)="onSubmit()">
  <div  [hidden]="!error">
    {{error}}
  </div>
<div class="mb-3">
              <input name="email" required class="relative rounded block w-full h-[60px] appearance-none border border-gray-300  dark:border-gray-500 px-3 py-2 
              text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-100
              focus:outline-none focus:ring-indigo-500 text-xl dark:bg-black dark:focus:border-blue-400 dark:focus:border-blue-400 "
              [(ngModel)]="form.email" placeholder="Email">
  </div>

<div>
    <input name="password" type="password" required class="relative rounded block w-full h-[60px] appearance-none border border-gray-300  dark:border-gray-500 px-3 py-2 
              text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-100
              focus:outline-none focus:ring-indigo-500 text-xl dark:bg-black dark:focus:border-blue-400 dark:focus:border-blue-400 "
              [(ngModel)]="form.password" placeholder="password">
              <p class="text-gray-700 dark:text-gray-500">
               <a href="" class="text-blue-600 dark:text-blue-800 dark:hover:text-blue-400">Forgot password?</a>
            </p>
  </div>

<button [disabled]="!loginForm.valid" type="submit" id="next" class="rounded-full flex mt-[150px] font-bold dark:bg-opacity-60
    w-full justify-center border border-transparent 
    bg-black py-3 px-4 text-xl text-white
    dark:bg-white dark:text-black
    dark:hover:bg-white
    hover:bg-blue-600 focus:outline-none
    focus:ring-offset-2">
    Log In
</button>
</form>
<div class="flex items-center justify-center">
    <p class="text-gray-700 dark:text-gray-500">
        Don't have an account? <a routerLink="/signup" class="text-blue-600  dark:text-blue-800 dark:hover:text-blue-400">Sign up</a>
    </p>
</div>
</div>
