<div
    class="h-full w-5/6 hidden lg:flex flex-col overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-l border-gray-100">
    <h4 class="text-gray-800 mb-4 py-3 text-xl px-4 dark:text-white font-extrabold mt-1">Settings</h4>
    <div (click)="showChangePassword = false;" class="settings-item settings-item-active">
        <p>Your account</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="settings-item">
        <p>Security and account access</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="settings-item">
        <p>Privacy and safety</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="settings-item">
        <p>Notifications</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="settings-item">
        <p>Accessibility, display, and languages</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="settings-item">
        <p>Additional resources</p>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>
<!--! -----------right---------- -->

<div
    class="w-full h-full dark:border-dark-gray_0 border-x md:border-r border-gray-100 overflow-y-scroll scrollbar-hide block relative">
    <!-- -----sticky header---- -->
    <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
        <!-- overlay div -->
        <div
            class="absolute w-full border-b border-gray-100 dark:border-dark-gray_0 h-full bg-white dark:bg-black sticky-nav-scroll -z-100">
        </div>
        <!-- content of fixed nav -->
        <div class="content z-0 flex items-center py-2">
            <div
                class="lg:hidden py-2 w-8 h-8 flex items-center text-xl justify-center dark:text-white rounded-full hover:bg-gray-100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 pl-4">
                <a href="./index.html"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <h4 class="text-gray-800 pl-6 lg:pl-3 py-3 text-xl dark:text-white font-bold">Your Account</h4>
        </div>
        <p class="z-0 text-gray-600 text-sm px-3 pb-4 lg:text-md dark:text-dark-gray_300">
            See information about your account, download an archive of your data, or learn about your
            account deactivation options
        </p>
    </div>
    <div *ngIf="!showChangePassword  ">
        <div *ngIf="!showAccountInfo">
            <div class="settings-item" (click)="toggleAccountInfo()">
                <div class="flex items-center gap-5">
                    <i class="fa-regular fa-user text-xl text-gray-600 dark:text-dark-gray_300"></i>
                    <div>
                        <p>Account information</p>
                        <p class="text-xs text-gray-600 dark:text-dark-gray_300">See your account information like
                            your phone number and email address.</p>
                    </div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="settings-item" (click)="toggleChangePassword()">
                <div class="flex items-center gap-5">
                    <i class="fa-solid fa-key text-gray-600 text-xl dark:text-dark-gray_300"></i>
                    <div>
                        <p>Change your password</p>
                        <p class="text-xs text-gray-600 dark:text-dark-gray_300">Change your password at any time.
                        </p>
                    </div>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="settings-item" (click)="showPopup = !showPopup">
                <div class="flex items-center gap-5">
                    <i class="fa-solid fa-heart-crack text-gray-600 text-xl dark:text-dark-gray_300"></i>
                    <div>
                        <p>Permanently delete your account</p>
                        <p class="text-xs text-gray-600 dark:text-dark-gray_300">Find out how you can deactivate
                            your account.</p>
                    </div>
                    <!-- tarttt -->
                    <!-- <button (click)="showPopup = !showPopup"
                        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">
                        Toggle modal
                    </button> -->


                    <!-- //end -->
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>

        </div>

    </div>
    <!-- <div *ngIf="showPopup" class="bg-opacity-50 fixed inset-0 z-40 bg-gray-700"></div> -->

    <!-- <div class="h-full dark:border-dark-gray_0 border-x md:border-r border-gray-100 overflow-y-scroll scrollbar-hide block relative"> -->

    <app-change-password *ngIf="showChangePassword" (closeDialog)="showChangePassword = false"></app-change-password>
    <app-account-info *ngIf="showAccountInfo" (closeDialog)="showAccountInfo = false"></app-account-info>

    <!-- </div> -->





    <!--! messages -->
    <!-- # style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px" -->
    <div
        class="hidden lg:flex fixed bottom-0 py-2.5 px-4 shadow-[0px_1px_10px_0px_rgba(0,0,0,0.3)] dark:shadow-[0px_1px_10px_0px_rgba(255,255,255,0.5)] rounded-t-2xl right-10 w-30 bg-white dark:bg-black w-1/4 justify-between items-center">
        <p class="text-[1.25rem] font-bold dark:text-white">Messages</p>
        <div class="controls text-xl dark:text-white text-gray-800 flex gap-2 justify-center items-center">
            <div
                class="cursor-pointer p-2 rounded-full w-8 h-8 flex items-center justify-center dark:hover:bg-dark-gray_0 hover:bg-gray-100 transition-colors">
                <i class="fa-regular fa-envelope" title="New Message"></i>
            </div>
            <div
                class="cursor-pointer p-2 rounded-full w-8 h-8 flex items-center justify-center dark:hover:bg-dark-gray_0 hover:bg-gray-100 transition-colors">
                <i class="fa-solid fa-angles-up" title="Expand"></i>
            </div>
        </div>
    </div>
</div>





<div id="popup-modal" tabindex="-1" *ngIf="showPopup"
    class="fixed top-0 bottom-0 left-0 right-0 z-50 bg-black dark:bg-opacity-40 dark:bg-white bg-opacity-40  p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal h-full w-full  md:h-full">
    <div class="relative top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-full h-full max-w-md md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-black">
            <button (click)="showPopup = !showPopup" type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                data-modal-hide="popup-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-6 text-center">
                <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure
                    you want to delete
                    your Account?</h3>
                <button (click)="destroy()" data-modal-hide="popup-modal" type="button"
                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                    Yes, I'm sure
                </button>
                <button (click)="showPopup = !showPopup" data-modal-hide="popup-modal" type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-black dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:hover:bg-opacity-30 dark:focus:ring-gray-600">No,
                    cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="showPopup" class=" bg-opacity-50 fixed inset-0  bg-gray-700"></div> -->