<div class="hidden w-full lg:w-3/3 h-full lg:block  dark:border-dark-gray_0 border-x border-gray-100">
    <div class=" dark:text-white  justify-center items-center mt-72 w-3/6   m-auto">
        <p class="mt-1 text-light-gray_100 dark:text-gray-500 ">Hmm...this page doesn’t exist. Try searching for something else.</p>
  
    </div>
    <div class=" mt-7 w-3/6  m-auto text-center">
        <a class=" text-center py-2  px-6 rounded-full bg-main-blue_100 hover:bg-main-blue_200 transition-colors text-white cursor-pointer">
            <span class="font- text-lg"> search </span>
        </a>
    </div>
  </div>