<div *ngIf="tweets.length;else noTweetBlock">
    <div class="tweet relative" *ngFor="let tweet of tweets">
        <div class="absolute justify-center items-center transition-colors right-5 top-3 w-8 h-8 rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 hidden sm:flex"
            title="More">
            <i
                class="fa-solid fa-ellipsis text-lg dark:hover:text-main-blue_100 dark:text-white items-center text-gray-500 cursor-pointer"></i>
        </div>
        <!-- user image -->
        <div class="flex rounded-full relative top-4 overflow-hidden twitter-user-img">
            <img class="w-full h-full object-cover"
                src="{{tweet.user.profile_image_url || './../../../assets/images/default_profile.png'}}" alt="" />
        </div>
        <div class="content ml-3 flex flex-col justify-start w-full gap-1 pt-3 max-w-full overflow-hidden">
            <!-- flex flex-col sm:flex-row justify-start pb-0 leading-5 sm:items-center -->
            <div class="flex overflow-hidden mt-1">
                <!--  name -->
                <div class="title flex items-center font-bold text-gray-800 dark:text-white w-auto max-w-[50%]">
                    <p routerLink="/{{tweet.user.username}}" class="dotted-text h-6 hover:underline">
                        {{tweet.user.first_name + ' ' + tweet.user.last_name}}
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                        *ngIf="tweet.user.verified" stroke="currentColor"
                        class="w-6 min-w-[25px] text-white fill-main-blue_100">
                        <path strokeLinecap="round" strokeLinejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                    </svg>
                </div>
                <!-- other user and tweet info -->
                <div class="flex items-center w-auto max-w-[45%]">
                    <!-- username -->
                    <span
                        class="username ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">@{{tweet.user.username}}
                    </span>
                    <!-- publish date -->
                    <p class="mx-1 flex relative bottom-1 font-bold dark:text-dark-gray_300 text-light-gray_100">
                        .</p>
                    <p class="publish_date dark:text-dark-gray_300 text-light-gray_100 dotted-text">{{tweet.created_at |
                        humanDates}}</p>
                </div>
            </div>
            <!-- ----paragraph----- -->

            <div class="sm:pr-4">
                <p class="font-normal pr-2 w-full dark:text-white text-md text-dark-gray_400 break-words" dir="auto">
                    <span [innerHTML]="formatTweetText(tweet.text)"></span>
                </p>
                <div *ngIf="tweet.media_url"
                    class="w-auto max-h-[500px] flex overflow-hidden dark:border-dark-gray_0 rounded-xl border border-light-gray my-3 mr-2">
                    <img class="object-cover w-full h-full" src="{{tweet.media_url}}" *ngIf="tweet.media_type === 1" />
                    <video controls *ngIf="tweet.media_type === 2">
                        <source src="./../../../assets/videos/The Sound of Two Neutron Stars Colliding(480p).mp4"
                            type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>

                <!-- ----controls icons ---- -->
                <div class="w-full justify-start grid sm:grid-cols-5 grid-cols-4 gap-1 mt-4">
                    <div class="tweet-control-item hover:text-main-blue_100">
                        <i class="sm:p-2 p-1 rounded-full fa-regular fa-comment hover:bg-main-blue_0"></i>
                        {{tweet.replies_count || '0' | humanNumbers: 2}}
                    </div>
                    <div class="tweet-control-item hover:text-main-retweet"><i
                            class="fa-solid fa-retweet sm:p-2 p-1 rounded-full hover:bg-green-100"></i>{{tweet.retweets_count
                        || '0'
                        | humanNumbers: 2}}
                    </div>
                    <div class="tweet-control-item hover:text-main-love"><i
                            class="fa-regular fa-heart sm:p-2 p-1 rounded-full hover:bg-pink-200"></i>{{tweet.likes_count
                        ||
                        '0' |
                        humanNumbers: 2}}
                    </div>
                    <div class="tweet-control-item-special hover:text-main-blue_100"><i
                            class="fa-solid fa-chart-simple hover:bg-blue-100 sm:p-2 p-1 rounded-full"></i>{{tweet.views_count
                        || '0'
                        | humanNumbers: 2}}
                    </div>
                    <div class="tweet-control-item hover:text-main-blue_100">
                        <i class="hover:bg-blue-100 sm:p-2 p-1 rounded-full fa-solid fa-arrow-up-from-bracket"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noTweetBlock>

    <div class=" my-2 mt-20 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
        <h3 class="text-xl font-bold">What? No Tweets Yet?</h3>
        <p class="w-fit px-10 m-auto">It seems like you haven't tweeted anything yet. You can start tweeting by clicking
            on
            the
            button below.</p>
        <a routerLink="/connect"
            class="cursor-pointer font-semibold w-fit  m-auto py-3 px-4 hover:bg-main-blue_200 transition-colors rounded-full bg-main-blue_100 text-white">
            Find People to follow
        </a>
    </div>


</ng-template>