<div *ngIf="tweets && tweets.length > 0;else noTweetBlock" class="scroll-smooth">
    <div class="tweet relative " *ngFor="let tweet of tweets">
        <div class="tweet-2 w-full" *ngIf="tweet.isARetweet;else tweetBlock">
            <!-- if tweet is a retweet -->
            <div routerLink="/status/{{tweet.tweet.id}}" class="absolute top-0 left-0 right-0 bottom-0"></div>
            <div (click)="tweet.isPopupShown = !tweet.isPopupShown;handleTweetPopup(tweet); tweet.isBookmarkPopupShown = false;tweet.isRetweetPopupShown=false"
                class="absolute z-50  justify-center items-center  transition-colors right-5 top-3 w-8 h-8 rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 hidden sm:flex"
                title="More">
                <i
                    class="fa-solid fa-ellipsis text-lg ove dark:hover:text-main-blue_100 dark:text-white items-center text-gray-500 cursor-pointer"></i>
                <!-- *ngIf="tweet.isPopupShown" -->
                <div *ngIf="tweet?.isPopupShown"
                    class="absolute top-8 -right-5 bg-white  mt-1  flex-col dark:border-dark-gray_0 border-gray-300 rounded-2xl drop-shadow-lg border border-opacity-30 shadow-xl overflow-hidden  dark:bg-black min-w-[150px] flex items-center justify-center">
                    <div *ngIf="tweet.user.id == user.id"
                        (click)="tweet.isPopupShown = false; deleteRetweet(tweet.tweet.id, tweet.id);"
                        class="flex cursor-pointer text-md  border-b border-gray-100 dark:border-dark-gray_0 py-3 w-full overflow-hidden gap-3 text-red-500 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                        <i class="fa-solid fa-trash-can"></i>
                        <div>Delete</div>
                    </div>
                    <div
                        class="flex cursor-pointer text-md border-gray-100 dark:border-dark-gray_0 py-3 w-full overflow-hidden gap-3 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                        <i class="fa-solid fa-ban"></i>
                        <div class="dotted-text">Block @{{tweet.tweet.user.username}}</div>
                    </div>
                </div>
            </div>
            <!-- user image -->
            <div routerLink="/{{tweet.user.username}}"
                class="flex rounded-full relative top-4 overflow-hidden twitter-user-img">
                <img class="w-full h-full object-cover" *ngIf="tweet.user"
                    src="{{tweet.user.profile_picture ?? './../../../assets/images/default_profile.png'}}" alt="" />
            </div>
            <div
                class="content  relative z-10 ml-3 flex flex-col justify-start w-full gap-1 pt-3 max-w-full overflow-hidden">
                <div class="flex overflow-hidden mt-1">
                    <!--  name -->
                    <div class="title flex items-center font-bold text-gray-800 dark:text-white w-auto max-w-[50%]">
                        <p routerLink="/{{tweet.user.username}}" class="dotted-text h-6 hover:underline">
                            {{tweet.user.first_name + ' ' + tweet.user.last_name}}
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                            *ngIf="tweet.user.verified" stroke="currentColor"
                            class="w-6 min-w-[25px] text-white fill-main-blue_100">
                            <path strokeLinecap="round" strokeLinejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                        </svg>
                    </div>
                    <!-- other user and tweet info -->
                    <div class="flex items-center w-auto max-w-[45%]">
                        <!-- username -->
                        <span routerLink="/{{tweet.user.username}}"
                            class="username ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">@{{tweet.user.username}}
                        </span>
                        <!-- publish date -->
                        <p class="mx-1 flex relative bottom-1 font-bold dark:text-dark-gray_300 text-light-gray_100">
                            .</p>
                        <p routerLink="/status/{{tweet.tweet.id}}"
                            class="publish_date dark:text-dark-gray_300 text-light-gray_100 dotted-text">
                            {{tweet.created_at
                            |
                            humanDates}}</p>
                    </div>
                </div>

                <!-- ----tweet body----- -->
                <div class="sm:pr-4">
                    <!-- tweet text -->
                    <div class="font-normal pr-2 w-full dark:text-white text-md text-dark-gray_400 break-words"
                        dir="auto">
                        <pre class="break-words  font-normal scrollbar-hide overflow-x-hidden  outline-none tracking-tight  whitespace-pre-wrap overflow-y-auto text-left"
                            [innerHTML]="formatTweetText(tweet.text)">
                    </pre>
                    </div>

                    <!-- tweet media -->
                    <div class="mt-2 w-full">
                        <app-tweet-shared [type]=1 [tweet]="tweet.tweet"></app-tweet-shared>

                    </div>


                    <!-- ----controls icons ---- -->
                    <div class="w-full justify-start grid sm:grid-cols-5 grid-cols-4 gap-1 mt-4">
                        <div routerLink="/status/{{tweet.id}}" class="tweet-control-item hover:text-main-blue_100"
                            title="Reply">
                            <i class="sm:p-2 p-1 rounded-full fa-regular fa-comment hover:bg-main-blue_0"></i>
                            {{tweet.replies_count || '0' | humanNumbers: 2}}
                        </div>
                        <div class="tweet-control-item hover:text-main-retweet" title="Retweet"><i
                                class="fa-solid fa-retweet sm:p-2 p-1 rounded-full hover:bg-green-100"></i>
                            {{tweet.retweets_count
                            || '0'
                            | humanNumbers: 2}}
                        </div>
                        <div (click)="likesCount(tweet.id);tweet.liked = !tweet.liked; tweet.likes_count = tweet.liked ? tweet.likes_count + 1 :  tweet.likes_count - 1"
                            class="tweet-control-item hover:text-main-love" title="Like">
                            <i [ngClass]="{'text-main-love fa-solid': tweet.liked == true}"
                                class="fa-regular fa-heart  sm:p-2 p-1 rounded-full hover:bg-pink-200"></i>
                            {{tweet.likes_count
                            ||
                            '0' |
                            humanNumbers: 2}}
                        </div>
                        <div class="tweet-control-item-special hover:text-main-blue_100" title="Analytics"><i
                                class="fa-solid fa-chart-simple hover:bg-blue-100 sm:p-2 p-1 rounded-full"></i>
                            {{tweet.views_count
                            || '0'
                            | humanNumbers: 2}}
                        </div>

                        <div class="tweet-control-item relative  hover:text-main-blue_100" title="Share">
                            <!-- !! bookmark popup !! -->
                            <i (click)="tweet.isBookmarkPopupShown = !tweet.isBookmarkPopupShown;handleTweetPopup(tweet); tweet.isPopupShown = false;tweet.isRetweetPopupShown=false"
                                class="hover:bg-blue-100  sm:p-2 p-1 rounded-full fa-solid fa-arrow-up-from-bracket"></i>
                            <div *ngIf="tweet?.isBookmarkPopupShown"
                                class="absolute text-center -top-11  right-5 bg-white   mt-1  flex-col dark:border-dark-gray_0 border-gray-300 rounded-2xl drop-shadow-lg border border-opacity-30 shadow-xl overflow-hidden  dark:bg-black min-w-[150px] flex items-center justify-center">
                                <div *ngIf="!tweet?.bookmarked;else unbookmarkBlock"
                                    (click)="tweet.isBookmarkPopupShown = false; createBokkmarks(tweet.tweet.id);tweet.bookmarked = true"
                                    class="flex cursor-pointer text-md text-center w-full overflow-hidden gap-3 py-2 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                                    Bookmark
                                </div>
                            </div>
                            <ng-template #unbookmarkBlock>
                                <div (click)="tweet.isBookmarkPopupShown = false; ; createBokkmarks(tweet.tweet.id);tweet.bookmarked = false"
                                    class="flex cursor-pointer text-md text-center w-full overflow-hidden gap-3 py-2 font-semibold transition-colors text-red-500 hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                                    Remove from bookmarks
                                </div>

                            </ng-template>

                        </div>
                    </div>
                </div>
                <!-- ==================I'm Here ,Replaaay Test Design============ -->
                <div *ngIf="showReplies">
                    <app-reply [replies]="tweet.replies"></app-reply>
                </div>
            </div>
        </div>
        <!-- end if tweet is a retweet -->

        <!-- if not a retweet -->
        <ng-template #tweetBlock>
            <div routerLink="/status/{{tweet.id}}" class="absolute top-0 left-0 right-0 bottom-0"></div>
            <div (click)="tweet.isPopupShown = !tweet.isPopupShown;handleTweetPopup(tweet); tweet.isBookmarkPopupShown = false;tweet.isRetweetPopupShown=false"
                class="absolute z-50  justify-center items-center  transition-colors right-5 top-3 w-8 h-8 rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 hidden sm:flex"
                title="More">
                <i
                    class="fa-solid fa-ellipsis text-lg ove dark:hover:text-main-blue_100 dark:text-white items-center text-gray-500 cursor-pointer"></i>
                <!-- *ngIf="tweet.isPopupShown" -->
                <div *ngIf="tweet?.isPopupShown"
                    class="absolute top-8 -right-5 bg-white  mt-1  flex-col dark:border-dark-gray_0 border-gray-300 rounded-2xl drop-shadow-lg border border-opacity-30 shadow-xl overflow-hidden  dark:bg-black min-w-[150px] flex items-center justify-center">
                    <div *ngIf="tweet.user.id == user.id" (click)="tweet.isPopupShown = false; deleteTweet(tweet);"
                        class="flex cursor-pointer text-md  border-b border-gray-100 dark:border-dark-gray_0 py-3 w-full overflow-hidden gap-3 text-red-500 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                        <i class="fa-solid fa-trash-can"></i>
                        <div>Delete</div>
                    </div>
                    <div
                        class="flex cursor-pointer text-md border-gray-100 dark:border-dark-gray_0 py-3 w-full overflow-hidden gap-3 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                        <i class="fa-solid fa-ban"></i>
                        <div class="dotted-text">Block @{{tweet.user.username}}</div>
                    </div>
                </div>
            </div>
            <!-- user image -->
            <div routerLink="/{{tweet.user.username}}"
                class="flex rounded-full relative top-4 overflow-hidden twitter-user-img">
                <img class="w-full h-full object-cover" *ngIf="tweet.user"
                    src="{{tweet.user.profile_picture ?? './../../../assets/images/default_profile.png'}}" alt="" />
            </div>
            <div
                class="content  relative z-10 ml-3 flex flex-col justify-start w-full gap-1 pt-3 max-w-full overflow-hidden">
                <div class="flex overflow-hidden mt-1">
                    <!--  name -->
                    <div class="title flex items-center font-bold text-gray-800 dark:text-white w-auto max-w-[50%]">
                        <p routerLink="/{{tweet.user.username}}" class="dotted-text h-6 hover:underline">
                            {{tweet.user.first_name + ' ' + tweet.user.last_name}}
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                            *ngIf="tweet.user.verified" stroke="currentColor"
                            class="w-6 min-w-[25px] text-white fill-main-blue_100">
                            <path strokeLinecap="round" strokeLinejoin="round"
                                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                        </svg>
                    </div>
                    <!-- other user and tweet info -->
                    <div class="flex items-center w-auto max-w-[45%]">
                        <!-- username -->
                        <span routerLink="/{{tweet.user.username}}"
                            class="username ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">@{{tweet.user.username}}
                        </span>
                        <!-- publish date -->
                        <p class="mx-1 flex relative bottom-1 font-bold dark:text-dark-gray_300 text-light-gray_100">
                            .</p>
                        <p routerLink="/status/{{tweet.id}}"
                            class="publish_date dark:text-dark-gray_300 text-light-gray_100 dotted-text">
                            {{tweet.created_at
                            |
                            humanDates}}</p>
                    </div>
                </div>

                <!-- ----tweet body----- -->
                <div class="sm:pr-4">
                    <!-- tweet text -->
                    <div class="font-normal pr-2 w-full dark:text-white text-md text-dark-gray_400 break-words"
                        dir="auto">
                        <pre class="break-words  font-normal scrollbar-hide overflow-x-hidden  outline-none tracking-tight  whitespace-pre-wrap overflow-y-auto text-left"
                            [innerHTML]="formatTweetText(tweet.text)">
                    </pre>
                    </div>

                    <!-- tweet media -->
                    <div *ngIf="tweet.media.length"
                        class="relative bg-white  h-[400px] w-auto max-h-[400px] my-3 mr-2 rounded-xl overflow-hidden flex items-center justify-center dark:border-dark-gray_0  border border-light-gray">
                        <div class="controls">
                            <!-- media next -->
                            <div (click)="handleMedia(1, mediaContainer, tweet)" *ngIf="tweet.media.length > 1"
                                class="absolute right-3 top-[50%] translate-y-[-50%] bg-main-black_100 bg-opacity-40 hover:bg-opacity-100 transition-colors text-white  cursor-pointer rounded-full  w-8 h-8  z-10 flex items-center justify-center ">
                                <i class="fa-solid fa-chevron-right text-xl p-2 text-center"></i>
                            </div>

                            <!-- media previous -->
                            <div (click)="handleMedia(2, mediaContainer, tweet)" *ngIf="tweet.media.length > 1"
                                class="absolute left-3 top-[50%] translate-y-[-50%] bg-main-black_100 bg-opacity-40 hover:bg-opacity-100 transition-colors text-white  cursor-pointer rounded-full  w-8 h-8  z-10 flex items-center justify-center ">
                                <i class="fa-solid fa-chevron-left text-xl p-2 text-center"></i>
                            </div>

                        </div>
                        <div #mediaContainer
                            class="media-container absolute top-0 left-0 bottom-0 right-0 overflow-hidden">
                            <!-- each media -->
                            <div class="media-item">
                                <img routerLink="/status/{{tweet.id}}" class="object-cover  h-full w-full"
                                    src="{{tweet.media[0].media_url}}" *ngIf="tweet.media[0].media_type == 1" />
                                <video controls *ngIf="tweet.media[0].media_type == 2"
                                    class="object-cover  h-full w-full">
                                    <source src="{{tweet.media[0].media_url}}" type="video/mp4" />
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>

                    <!-- ----controls icons ---- -->
                    <div class="w-full justify-start grid sm:grid-cols-5 grid-cols-4 gap-1 mt-4">
                        <div routerLink="/status/{{tweet.id}}" class="tweet-control-item hover:text-main-blue_100"
                            title="Reply">
                            <i class="sm:p-2 p-1 rounded-full fa-regular fa-comment hover:bg-main-blue_0"></i>
                            {{tweet.replies_count || '0' | humanNumbers: 2}}
                        </div>
                        <div class="tweet-control-item relative hover:text-main-retweet" title="Retweet">

                            <!--!! retweet popup !!-->
                            <i (click)="tweet.isRetweetPopupShown = !tweet.isRetweetPopupShown; handleTweetPopup(tweet);tweet.isBookmarkPopupShown = false; tweet.isPopupShown=false;retweetTweet=tweet"
                                class="fa-solid fa-retweet sm:p-2 p-1 rounded-full hover:bg-green-100"></i>
                            <div *ngIf="tweet?.isRetweetPopupShown"
                                class="absolute text-center -top-11 right-5  bg-white   mt-1  flex-col dark:border-dark-gray_0 border-gray-300 rounded-2xl drop-shadow-lg border border-opacity-30 shadow-xl overflow-hidden  dark:bg-black min-w-[150px] flex items-center justify-center">
                                <div (click)="retweetPopupShown=true; retweetTweet=tweet"
                                    class="flex cursor-pointer text-md text-center w-full overflow-hidden gap-3 py-2 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                                    Retweet
                                </div>
                            </div>

                            {{tweet.retweets_count
                            || '0'
                            | humanNumbers: 2}}
                        </div>
                        <div (click)="likesCount(tweet.id);tweet.liked = !tweet.liked; tweet.likes_count = tweet.liked ? tweet.likes_count + 1 :  tweet.likes_count - 1"
                            class="tweet-control-item hover:text-main-love" title="Like">
                            <i [ngClass]="{'text-main-love fa-solid': tweet.liked == true}"
                                class="fa-regular fa-heart  sm:p-2 p-1 rounded-full hover:bg-pink-200"></i>
                            {{tweet.likes_count
                            ||
                            '0' |
                            humanNumbers: 2}}
                        </div>
                        <div class="tweet-control-item-special hover:text-main-blue_100" title="Analytics"><i
                                class="fa-solid fa-chart-simple hover:bg-blue-100 sm:p-2 p-1 rounded-full"></i>
                            {{tweet.views_count
                            || '0'
                            | humanNumbers: 2}}
                        </div>
                        <div class="tweet-control-item relative hover:text-main-blue_100" title="Share">
                            <!-- !! bookmark popup !! -->
                            <i (click)="tweet.isBookmarkPopupShown = !tweet.isBookmarkPopupShown;handleTweetPopup(tweet); tweet.isPopupShown = false;tweet.isRetweetPopupShown=false"
                                class="hover:bg-blue-100  sm:p-2 p-1 rounded-full fa-solid fa-arrow-up-from-bracket"></i>
                            <div *ngIf="tweet?.isBookmarkPopupShown"
                                class="absolute text-center -top-11  right-5 bg-white   mt-1  flex-col dark:border-dark-gray_0 border-gray-300 rounded-2xl drop-shadow-lg border border-opacity-30 shadow-xl overflow-hidden  dark:bg-black min-w-[150px] flex items-center justify-center">
                                <div *ngIf="!tweet?.bookmarked;else unbookmarkBlock"
                                    (click)="tweet.isBookmarkPopupShown = false; createBokkmarks(tweet.id);tweet.bookmarked = true"
                                    class="flex cursor-pointer text-md text-center w-full overflow-hidden gap-3 py-2 font-semibold transition-colors hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                                    Bookmark
                                </div>
                            </div>


                            <ng-template #unbookmarkBlock>
                                <div (click)="tweet.isBookmarkPopupShown = false; ; createBokkmarks(tweet.id);tweet.bookmarked = false"
                                    class="flex cursor-pointer text-md text-center w-full overflow-hidden gap-3 py-2 font-semibold transition-colors text-red-500 hover:bg-gray-400 hover:bg-opacity-20 dark:text-white items-center px-4">
                                    Remove from bookmarks
                                </div>

                            </ng-template>


                        </div>
                    </div>
                </div>
                <!-- ==================I'm Here ,Replaaay Test Design============ -->
                <div *ngIf="showReplies">
                    <app-reply [replies]="tweet.replies"></app-reply>
                </div>
                <!-- =======================Replay End============== -->
                <!-- <div *ngIf="showRetweets">
                <app-tweet-shared  [tweet]="tweet"> </app-tweet-shared>
            </div> -->
            </div>
        </ng-template>
    </div>
</div>


<!-- infinite scroll loading -->
<div *ngIf="!isLoadingDone && tweets && tweets.length;else loadingFinish">
    <div class=" my-2 mt-20 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
        <i class="fa-solid fa-spinner text-2xl animate-spin"></i>
    </div>
</div>

<ng-template #loadingFinish>
    <div *ngIf="!isInBookmark && tweets && tweets.length && isInHome"
        class=" my-2 mt-20 flex flex-col text-center gap-4 mb-20 px-4 py-2 dark:text-white">
        <h3 class="text-xl font-bold">You've reached the end</h3>
        <p class="w-fit px-10 m-auto">You've reached the end of the page. You can start following people by clicking on
            the
            button below.</p>
        <a routerLink="/connect"
            class="cursor-pointer font-semibold w-fit  m-auto py-3 px-4 hover:bg-main-blue_200 transition-colors rounded-full bg-main-blue_100 text-white">
            Find People to follow
        </a>
    </div>
</ng-template>


<ng-template #noTweetBlock>
    <div class="loading" *ngIf="tweets;else loadingBlock">
        <div *ngIf="!isInBookmark; else bookmarkBlock">
            <div class=" my-2 mt-20 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
                <h3 class="text-xl font-bold">What? No Tweets Yet?</h3>
                <p class="w-fit px-10 m-auto">It seems like you haven't followed anyone yet. You can start following
                    people
                    by clicking on the button below.</p>
                <a routerLink="/connect"
                    class="cursor-pointer font-semibold w-fit  m-auto py-3 px-4 hover:bg-main-blue_200 transition-colors rounded-full bg-main-blue_100 text-white">
                    Find People to follow
                </a>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loadingBlock>
    <div class=" my-2 mt-20 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
        <i class="fa-solid fa-spinner text-2xl animate-spin"></i>
    </div>
</ng-template>

<ng-template #bookmarkBlock>
    <div class=" my-2 mt-5 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
        <img src="../../../assets/images/bookmark.png" alt="">
        <h3 class="text-3xl font-bold">Save Tweets for later</h3>
        <p class="w-fit text-gray-800 dark:text-dark-gray_300 px-10 m-auto">Don’t let the good ones fly away! Bookmark
            <br>Tweets to easily find them again in the future.
        </p>
    </div>
</ng-template>



<app-tweet-popup (isClosed)="retweetPopupShown = false" *ngIf="retweetPopupShown && retweetTweet && user" [popupType]=1
    [user]="user" [tweet]="retweetTweet">
</app-tweet-popup>