<p>messages works!</p>
<!--! -------middle ------- -->
<div class="hidden xl:block relative h-full w-full xl:w-2/5 overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
  <!-- -----sticky header---- -->
  <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
      <!-- overlay div -->
      <!-- <div class="absolute w-full border-b border-gray-100 dark:border-dark-gray_0 h-full bg-white dark:bg-black sticky-nav-scroll -z-100"></div> -->
      <!-- content of fixed nav -->
      <div class="z-0 flex py-2">
          <h4 class="text-gray-800 pl-6 py-1 text-xl dark:text-white font-bold">Messages</h4>
          <!-- ----Setting icon ---- -->
          <div class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-14 h-14 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 right-11 xl:top-2 top-0 " title="Settings">
              <i class="fa-solid fa-gear text-black dark:text-white cursor-pointer"></i>
          </div>
          <!-- ----Message icon ---- -->
          <div class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-14 h-14 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 right-1 xl:top-2 top-0 " title="New message">
              <i class="fa-solid fa-envelope text-black dark:text-white cursor-pointer"></i>
          </div>
      </div>
  </div>
  <!-- !!!!!!!!!! start your code here !!!!!!!!!! -->
  <!-- !-----search------ -->
  <div class="relative mb-4 mt-4 mx-6 ">
      <i class="fa-solid fa-magnifying-glass text-gray-600 ml-2 absolute left-4 top-1/2 -translate-y-1/2"></i>
      <input
          type="text"
          class="w-full h-7 pl-12  border border-gray-100 dark:border-dark-gray_0  dark:bg-black p-6  focus:border focus:border-main-blue_100 text-gray-900 focus:outline-none font-normal  text-md rounded-full dark:text-white placeholder:text-gray-500"
          placeholder="Search Direct Messages"
      />
  </div>

  <div class="px-4 py-4 dark:bg-dark-gray_100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 bg-gray-200 cursor-pointer  border-r-2 border-main-blue_100">
      <!-- ----show more icon ---- -->
      <!-- <div
      class="relative justify-center items-center right-5 w-8 h-8 rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20  sm:flex"
      title="More"
      >
          <i class="fa-solid fa-ellipsis text-lg dark:hover:text-main-blue_100 dark:text-white items-center text-gray-500 cursor-pointer"></i>
      </div> -->
      <!--! -----user message ---- -->
      <div class="flex">
          <img src="../../../assets/images/img.jpeg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full">
                  <h5 class="text-gray-800 dark:text-white">Sara Fathi</h5>
              <p class="text-gray-500 dark:text-dark-gray_300 ml-1  ">@Sara_Elbanna</p>
              </div>
          </div>
      </div>
  </div>

  <div class="px-4 py-4 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-200 cursor-pointer ">
      <!--! -----user message ---- -->
      <div class="flex">
          <img src="../../../assets/images/pngtree-baby-owl-computer-background-image_724674.jpg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full">
                  <h5 class="text-gray-800 dark:text-white">Zeinab Khaled</h5>
              <p class="text-gray-500 dark:text-dark-gray_300 ml-1  ">@Zeinab_Khaled</p>
              </div>
          </div>
      </div>
  </div>
  <div class="px-4 py-4 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-200 cursor-pointer">
      <!--! -----user message ---- -->
      <div class="flex">
          <img src="../../../assets/images/turtle.jpeg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full">
                  <h5 class="text-gray-800 dark:text-white">Hager Ahmed</h5>
              <p class="text-gray-500 dark:text-dark-gray_300 ml-1  ">@Hager_Ahmed</p>
              </div>
          </div>
      </div>
  </div>
  <div class="px-4 py-4 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-200 cursor-pointer ">
      <!--! -----user message ---- -->
      <div class="flex">
          <img src="../../../assets/images/photo.jpg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full">
                  <h5 class="text-gray-800 dark:text-white">Mostafa</h5>
              <p class="text-gray-500 dark:text-dark-gray_300 ml-1  ">@__Mostafa</p>
              </div>
          </div>
      </div>
  </div>
  <div class="px-4 py-4 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-200 cursor-pointer ">
      <!--! -----user message ---- -->
      <div class="flex">
          <img src="../../../assets/images/photo.jpg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full">
                  <h5 class="text-gray-800 dark:text-white">Mohamed </h5>
              <p class="text-gray-500 dark:text-dark-gray_300 ml-1 ">@__Mohamed</p>
              </div>
          </div>
      </div>
  </div>
  <!-- !!!!!!!!!! end your code here !!!!!!!!!! -->
</div>

<!-- -----------right------------ -->
<div class=" w-full lg:w-4/6 h-full lg:block  dark:border-dark-gray_0 border-x border-gray-100">
  <!-- -----sticky header---- -->
  <div class="flex flex-col sticky ">
      <div class="z-0 flex items-center ">
          <div class="py-2 w-8 h-8 flex items-center mx-4 text-xl justify-center dark:text-white rounded-full hover:bg-gray-100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50">
          <a href="./messages.html"><i class="fa-solid fa-arrow-left cursor-pointer" ></i></a>
          </div>
          <img src="../../../assets/images/us.jpeg" class="twitter-notify-img" alt="" />

          <p class="text-gray-800 pl-3 py-3 text-lg dark:text-white font-semibold">Group2</p>
      </div>
      <!-- ----details icon ---- -->
      <div class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-14 h-14 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 right-1 xl:top-2 top-0 " title="details">
          <i class="fa-solid fa-circle-info text-black dark:text-white cursor-pointer"></i>
      </div>
  </div>
  <!-- -----------large screen sending a message -->
  <div class="sm:flex flex-col h-screen hidden justify-between">
      <div class="flex-grow">
        <div *ngFor="let msg of messages">
          <p class="dark:text-white ml-7 mt-2">{{ msg.username }}</p>
          <div class="text-black dark:text-white border border-dark-gray_0 ml-7 w-1/2 p-3 rounded-xl bg-dark-gray_0 flex justify-center items-center mt-1">
            <p>{{ msg.message }}</p>
          </div>
          <div class=" text-black dark:text-white border border-dark-gray_0 ml-60 w-1/2 p-3 rounded-xl bg-dark-gray_0 flex justify-center items-center mt-2 ">
            <p>Here will be the chat content</p>
          </div>
        </div>
      </div>
      <!-- !-----input message------ -->
      <div class="relative pt-2 pb-4 px-3 mb-14 mt-10 border-t dark:border-dark-gray_0 border-gray-100 ">

          <!-- chat icons -->
          <div class="flex p-4 pl-2 ml-2 absolute left-4 top-1/2 -translate-y-1/2">
              <a
                  href=""
                  class="text-main-blue w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20"
                  title="Media"
              >
                  <i class="w-full fa-regular fa-image text-lg"></i>
              </a>
              <a
                  href=""
                  class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0"
                  title="GIF"
              >
                  <i class="w-full fa-regular fa-file-image"></i>
              </a>
              <a
                  href=""
                  title="Emoji"
                  class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0"
              >
                  <i class="w-full fa-regular fa-face-smile text-lg"></i>
              </a>
              <!-- <a
                  href=""
                  title ="Send"
                  class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 lg:ml-[350px] w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0 "
              >
                  <i class="w-full  fa-solid fa-share text-lg "></i>
              </a> -->
          </div>

          <form (submit)="submit()">
              <input
              [(ngModel)]="username"
                  type="text"
                  class="w-full h-7 pl-32 border border-gray-100 dark:border-dark-gray_0  bg-gray-100 dark:bg-dark-gray_100 p-5  focus:border focus:border-main-blue_100 text-gray-900 focus:outline-none font-normal  text-md rounded-xl dark:text-white placeholder:text-gray-500"
                  placeholder="Start a new message"
              />
          </form>
          <!-- </div> -->
      </div>
  </div>
  <!-- !-----Small Screen sending message------ -->
  <div class="flex-col h-screen bg-white dark:bg-black sm:hidden w-full z-50 left-0 right-0 flex justify-between px-4 border-t py-1 border-gray-100 dark:border-dark-gray_0">
      <div class="flex-grow">
          <!-- <p class="text-white">Here will be the chat content</p> -->
      </div>
      <!-- !-----input message------ -->
      <div class="relative pt-2 pb-4 px-3 mb-28 mt-10 border-t dark:border-dark-gray_0 border-gray-100 ">
          <!-- <div class="controls relative w-full grid grid-cols-2"> -->
              <!-- chat icons -->
              <div class="flex p-4 sm:pl-16 pl-2 ml-2 absolute left-4 top-1/2 -translate-y-1/2">
                  <a
                      href=""
                      class="text-main-blue w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0 dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20"
                      title="Media"
                  >
                      <i class="w-full fa-regular fa-image text-lg"></i>
                  </a>
                  <a
                      href=""
                      class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0"
                      title="GIF"
                  >
                      <i class="w-full fa-regular fa-file-image"></i>
                  </a>
                  <a
                      href=""
                      title="Emojis"
                      class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0"
                  >
                      <i class="w-full fa-regular fa-face-smile text-lg"></i>
                  </a>
                  <!-- <a
                  href=""
                  title ="Send"
                  class="text-main-blue dark:hover:bg-main-blue_100 dark:hover:bg-opacity-20 ml-[240px] w-8 h-8 flex items-center justify-center text-center rounded-full hover:bg-main-blue_0 "
                  >
                      <i class="w-full  fa-solid fa-share text-lg "></i>
                  </a> -->

              </div>
              <input
                  type="text"
                  class="w-full h-7 pl-36  border border-gray-100 dark:border-dark-gray_0  bg-gray-100 dark:bg-dark-gray_100 p-5  focus:border focus:border-main-blue_100 text-gray-900 focus:outline-none font-normal  text-md rounded-xl dark:text-white placeholder:text-gray-500"
                  placeholder="Start a new message"
              />
      </div>

  </div>

</div>
