<!--! footer -->
<footer class="flex flex-col mb-20">
    <div class="flex gap-2 text-light-gray_100 dark:text-gray-500">
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Terms of Service</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Privacy Policy</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Cookie Policy</p>
    </div>
    <div class="flex gap-2 text-light-gray_100 dark:text-gray-500">
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            MStV Transparenzangaben</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Imprint</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Accessibility</p>
    </div>
    <div class="flex gap-2 text-light-gray_100 dark:text-gray-500">
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            Ads info</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            More...</p>
        <p class="text-sm hover:underline hover:text-main-black_0 dark:hover:text-gray-500 cursor-pointer dotted-text">
            &copy;2023 Twitter, Inc.</p>
    </div>
</footer>