<!--! -------middle ------- -->
<app-edit-profile *ngIf="user" [userDetails]="user" [showPopup]="showPopup"
    (closePopup)="onClosePopup()"></app-edit-profile>

<div *ngIf="user; else loadingBlock "
    class="h-full w-full flex flex-col overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
    <!-- -----sticky header---- -->
    <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
        <!-- overlay div -->
        <div
            class="absolute w-full border-b border-gray-100 dark:border-dark-gray_0 h-full bg-white dark:bg-black sticky-nav-scroll -z-100">
        </div>
        <!-- content of fixed nav -->
        <div class="content z-0 flex items-center py-2">
            <div
                class="py-2 w-8 h-8 flex items-center ml-4 text-xl justify-center dark:text-white rounded-full hover:bg-gray-100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50">
                <a routerLink="/home"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="flex flex-col  w-full">
                <div class="flex items-center ">
                    <h4 class="text-gray-800  max-w-[80%] dotted-text pl-6 text-2xl dark:text-white font-bold">
                        {{user ?
                        user.first_name + ' ' +
                        user.last_name :
                        'Loading...'}}</h4>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                        stroke="currentColor" class="w-6 min-w-[25px] text-white fill-main-blue_100 ml-1"
                        *ngIf="user?.verified">
                        <path strokeLinecap="round" strokeLinejoin="round"
                            d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                    </svg>
                </div>
                <p class="dark:text-gray-500 text-gray-600 pl-6 text-sm -mt-1">{{user.tweets_count|humanNumbers}} Tweets
                </p>
            </div>

            <div class="ml-auto pr-7">
                <div class="xl:flex" (click)="logoutPopup()">
                    <i
                        class="fa-solid fa-ellipsis text-3xl items-center xl:ml-4 text-gray-800 dark:text-white cursor-pointer"></i>
                </div>
                <div *ngIf="popup"
                    class="absolute flex top-14 dark:bg-black dark:border-dark-gray_0 dark:text-white bg-white shadow-[0px_0px_2px_0px_rgba(0,0,0,0.3)] dark:shadow-[0px_0px_0px_0px_rgba(255,255,255,0.5)] border border-gray-50 z-10 left-0 text-center rounded-md right-0">
                    <a href="#" (click)="logout($event)"
                        class="dotted-text w-full text-center py-4 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 hover:bg-gray-100">
                        <span class="font-semibold dotted-text w-full px-4">
                            Log out @{{ user.username }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col">
        <!-- cover photo -->
        <div class="w-full overflow-hidden h-48 bg-slate-300">
            <img src="{{user.cover_picture || './../../../assets/images/3840x2160-dark-gray-solid-color-background.jpg'}}"
                class="object-cover object-center w-full h-full" alt="" srcset="" />
        </div>
        <!-- profile picture -->
        <img src="{{user.profile_picture || './../../../assets/images/default_profile.png'}}"
            class="absolute top-24 rounded-full w-36 h-36 border-[4px] ml-3 dark:border-black border-white" />

        <!-- profile controls -->
        <div class="flex items-center sm:mt-4 mt-12  px-4 float-right gap-4 w-full justify-end">

            <a *ngIf="username === loggedUser?.username" (click)="onButtonClick()" class="text-center py-2 px-5 rounded-full transition-colors border
                dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-10 dark:text-white
                  text-black cursor-pointer hover:bg-gray-200 ">
                <span class="font-semibold"> Edit profile </span>
            </a>

            <a *ngIf="username !== loggedUser?.username" (click)="follow(user.id); user.followed_by = !user.followed_by"
                class="text-center py-2 px-5 rounded-full transition-colors border dark:text-white
                dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-30
                  text-black cursor-pointer hover:bg-gray-200">
                <span class="font-semibold"> {{user.followed_by ? 'UnFollow' : 'Follow'}} </span>
            </a>

        </div>
        <!-- profile info -->

        <!-- name and username -->
        <div class="p-2 mx-3 flex flex-col -mt-2">
            <div class="flex">
                <span class="text-black text-xl clear-both dark:text-gray-100 font-bold">{{user?
                    user.first_name + '
                    ' + user.last_name : "Loading..."}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                    *ngIf="user?.verified" stroke="currentColor"
                    class="w-6 min-w-[25px] text-white fill-main-blue_100 ml-1">
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
            </div>
            <span class="text-gray-500 -mt-1">@{{user? user.username : "Loading..."}}</span>
            <!-- user bio -->
            <span dir="auto" class="my-3 dark:text-white">{{user? user.bio ? user.bio : '' : "Loading..."}}</span>
            <!-- user profile info -->
            <div class="flex  w-full  max-w-full gap-x-6  flex-wrap mb-2 text-gray-500 dark:text-gray-400">
                <div class="flex gap-2  dotted-text items-center" *ngIf="user && user.location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="dotted-text">{{user.location}}</span>
                </div>
                <div class="flex gap-2  dotted-text items-center" *ngIf="user && user.date_of_birth">
                    <i class="fa-solid fa-cake-candles"></i>
                    <span class="dotted-text">Born {{user.date_of_birth|date:'mediumDate'}}</span>
                </div>
                <div class="flex gap-2  dotted-text items-center" *ngIf="user && user.website">
                    <i class="fa-solid fa-paperclip"></i>
                    <a href="https://{{user.website|website}}" target="_blank"
                        class="dotted-text url">{{user.website|website}}</a>
                </div>
                <div class="flex gap-2  dotted-text items-center" *ngIf="user && user.created_at">
                    <i class="fa-regular fa-calendar-days"></i>
                    <span class="dotted-text">Joined {{user.created_at|date:'mediumDate'}}</span>
                </div>
            </div>
            <!-- followers and following number -->
            <div class="flex">
                <div routerLink="/{{user.username}}/following" class="hover:underline cursor-pointer flex gap-1">
                    <span class="font-bold dark:text-white">{{user ? [user.followings_count|humanNumbers] : "0"}}</span>
                    <span class="text-gray-500 dark:text-gray-400 font-normal">Following</span>
                </div>
                <div routerLink="/{{user.username}}/followers" class="hover:underline cursor-pointer flex gap-1">
                    <span class="ml-6 font-bold dark:text-white">{{user ? [user.followers_count|humanNumbers] :
                        "0"}}</span>
                    <span class="text-gray-500 dark:text-gray-400 font-normal">Followers</span>
                </div>
            </div>
        </div>

        <!-- profile views -->
        <div class="profile-views border-b border-gray-100 dark:border-dark-gray_0 ">
            <div class="flex">
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active"
                    class="w-full md:w-1/4 dotted-text px-2 hover:bg-gray-100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 transition-colors relative text-gray-500 ">
                    <button *ngIf="user" routerLink="/{{user.username}}"
                        class="w-full py-4 font-semibold dotted-text">Tweets</button>
                </div>
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active"
                    class="w-full md:w-1/4 dotted-text px-2 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 transition-colors text-gray-500 ">
                    <button *ngIf="user" routerLink="/{{ user.username }}/with_replies"
                        class="py-4 w-full font-semibold dotted-text">Tweets &
                        replies</button>
                </div>
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active"
                    class="w-full md:w-1/4 dotted-text px-2 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 transition-colors text-gray-500 ">
                    <button *ngIf="user" routerLink="/{{ user.username }}/media"
                        class="py-4 w-full font-semibold  dotted-text">Media</button>
                </div>
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active"
                    class="w-full md:w-1/4 dotted-text px-2 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 transition-colors text-gray-500 ">
                    <button *ngIf="user" routerLink="/{{ user.username }}/likes"
                        class="py-4 w-full font-semibold dotted-text">Likes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tweets">
        <app-tweet [tweets]="tweets" [showReplies]="show"></app-tweet>
    </div>
    <!-- <app-modal [tweets]="tweets"></app-modal> -->
    <!-- !!!!!!!!!! end your code here !!!!!!!!!! -->

</div>
<!-- <div> -->
<!-- <app-tweet-shared  [tweet]="tweet" [showRetweets]="showRetweet" > </app-tweet-shared> -->
<!-- </div> -->

<!--! -----------right---------- -->
<div class="hidden xl:w-2/4 lg:w-3/6 h-full overflow-y-scroll scrollbar-hide lg:block pl-5 relative">
    <app-search></app-search>
    <app-trends-recommendation></app-trends-recommendation>
    <app-follow-recommendations></app-follow-recommendations>
    <app-footer></app-footer>
    <app-message-popup></app-message-popup>
</div>

<ng-template #loadingBlock>
    <div *ngIf="!notAUser && !user;else loosing"
        class="h-full w-full flex flex-col items-center justify-center overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
        <div class=" my-2 mt-20 flex flex-col text-center gap-4 px-4 py-2 dark:text-white">
            <i class="fa-solid fa-spinner text-2xl animate-spin"></i>
        </div>
    </div>

</ng-template>

<ng-template #loosing>
    <app-load-profile
        class="h-full w-full flex flex-col items-center justify-center overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
        >
    </app-load-profile>
</ng-template>