<div class="relative" [ngClass]="type == 1 ? 'tweet-shared':'tweet-shared-2'">
    <div routerLink="/status/{{tweet.id}}" class="absolute top-0 left-0 right-0 bottom-0"></div>
    <!-- user image -->
    <div routerLink="/{{tweet.user.username}}"
        class="flex rounded-full relative top-4 overflow-hidden twitter-user-img-shared">
        <img class="w-full h-full object-cover" *ngIf="tweet.user"
            src="{{tweet.user.profile_picture ?? './../../../assets/images/default_profile.png'}}" alt="" />
    </div>
    <div class="content  relative z-10 ml-3 flex flex-col justify-start w-full gap-1 pt-3  max-w-full overflow-hidden">
        <div class="flex overflow-hidden mt-1">
            <!--  name -->
            <div class="title flex items-center font-bold text-sm text-gray-800 dark:text-white w-auto">
                <p routerLink="/{{tweet.user.username}}" class="dotted-text">
                    {{tweet.user.first_name + ' ' + tweet.user.last_name}}
                </p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                    *ngIf="tweet.user.verified" stroke="currentColor"
                    class="w-5 min-w-[15px] text-white fill-main-blue_100">
                    <path strokeLinecap="round" strokeLinejoin="round"
                        d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                </svg>
            </div>
            <!-- other user and tweet info -->
            <div class="flex items-center w-auto max-w-[50%]">
                <!-- username -->
                <span routerLink="/{{tweet.user.username}}"
                    class="username  ml-1 text-sm font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">@{{tweet.user.username}}
                </span>
                <!-- publish date -->
                <p class="mx-1 flex relative text-sm bottom-1 font-bold dark:text-dark-gray_300 text-light-gray_100">
                    .</p>
                <p routerLink="/status/{{tweet.id}}"
                    class="publish_date text-sm dark:text-dark-gray_300 text-light-gray_100 dotted-text">
                    {{tweet.created_at
                    |
                    humanDates}}</p>
            </div>
        </div>

        <!-- ----tweet body----- -->
        <div class="sm:pr-2">
            <!-- tweet text -->
            <div class="font-normal pr-2 w-full dark:text-white text-md text-dark-gray_400 break-words" dir="auto">
                <pre class="break-words text-md  font-normal scrollbar-hide overflow-x-hidden  outline-none tracking-tight  whitespace-pre-wrap overflow-y-auto text-left"
                    [innerHTML]="formatTweetText(tweet.text)">
                    </pre>
            </div>

            <!-- tweet media -->
            <div *ngIf="tweet.media.length"
                class="relative bg-white  h-[300px] w-auto max-h-[300px] my-3 mr-2 rounded-xl overflow-hidden flex items-center justify-center dark:border-dark-gray_0  border border-light-gray">
                <div class="controls">
                    <!-- media next -->
                    <div (click)="handleMedia(1, mediaContainer, tweet)" *ngIf="tweet.media.length > 1"
                        class="absolute right-3 top-[50%] translate-y-[-50%] bg-main-black_100 bg-opacity-40 hover:bg-opacity-100 transition-colors text-white  cursor-pointer rounded-full  w-8 h-8  z-10 flex items-center justify-center ">
                        <i class="fa-solid fa-chevron-right text-xl p-2 text-center"></i>
                    </div>

                    <!-- media previous -->
                    <div (click)="handleMedia(2, mediaContainer, tweet)" *ngIf="tweet.media.length > 1"
                        class="absolute left-3 top-[50%] translate-y-[-50%] bg-main-black_100 bg-opacity-40 hover:bg-opacity-100 transition-colors text-white  cursor-pointer rounded-full  w-8 h-8  z-10 flex items-center justify-center ">
                        <i class="fa-solid fa-chevron-left text-xl p-2 text-center"></i>
                    </div>
                </div>
                <div #mediaContainer class="media-container absolute top-0 left-0 bottom-0 right-0 overflow-hidden">
                    <!-- each media -->
                    <div class="media-item">
                        <img routerLink="/status/{{tweet.id}}" class="object-cover  h-full w-full"
                            src="{{tweet.media[0].media_url}}" *ngIf="tweet.media[0].media_type == 1" />
                        <video controls *ngIf="tweet.media[0].media_type == 2" class="object-cover  h-full w-full">
                            <source src="{{tweet.media[0].media_url}}" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
