<!--! messages -->
<!-- # style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px" -->
<div
    class="fixed bottom-0 py-2.5 px-4 shadow-[0px_1px_10px_0px_rgba(0,0,0,0.3)] dark:shadow-[0px_1px_10px_0px_rgba(255,255,255,0.5)] rounded-t-2xl right-10 w-30 bg-white dark:bg-black w-1/4 flex justify-between items-center">
    <p class="text-[1.25rem] font-bold dark:text-white">Messages</p>
    <div class="controls text-xl dark:text-white text-gray-800 flex gap-2 justify-center items-center">
        <div
            class="cursor-pointer p-2 rounded-full w-8 h-8 flex items-center justify-center dark:hover:bg-dark-gray_0 hover:bg-gray-100 transition-colors">
            <i class="fa-regular fa-envelope" title="New Message"></i>
        </div>
        <div
            class="cursor-pointer p-2 rounded-full w-8 h-8 flex items-center justify-center dark:hover:bg-dark-gray_0 hover:bg-gray-100 transition-colors">
            <i class="fa-solid fa-angles-up" title="Expand"></i>
        </div>
    </div>
</div>