<div *ngIf="showPopup && user"  class="w-full max-w-[700px] sm:gap-4  min-w-[300px] dark:bg-black
bg-white  sm:p-6 py-6 px-3 xl:px-10  absolute shadow-lg rounded-2xl flex flex-col scale-[.95] overflow-y-auto "
     style="height:43rem; " id="popup">
        <div class=" z-0 content flex justify-between">
            <div class="flex">
                <a (click)="onClosePopup()" id="close-popup" class="mr-4 mt-2 dark:text-white"><i class="fa-regular fa-x"></i></a>
                <h1 class="text-3xl ">Edit profile</h1>
            </div>
            <!-- <form> -->

        </div>
        <!-- cover & photo -->
        <div class="relative">
            <form class="space-y-6"  #updateForm=ngForm (ngSubmit)="onSubmit()">
                {{error}}
            <div class="w-full overflow-hidden h-48 bg-slate-300">
                <img id="cover-image" src="{{user.cover_picture || './../../../assets/images/3840x2160-dark-gray-solid-color-background.jpg'}}"
                class="object-cover object-center w-full h-full" />
                <div class="flex absolute top-[5rem] left-[15rem]" >
                    <a class="overflow-hidden rounded-full mr-4 p-2 bg-black   hover:bg-gray-200 text-center justify-center flex"
                    style="width: 3rem; height: 3rem; opacity: 0.3;">

                    <input [(ngModel)]="user.cover_picture"  (change)="onSelectCover($event)" type="file" name="cover_picture" multiple  accept="image/*"
                    class="absolute opacity-0  left-0 top-0 bottom-0  right-0">

                    <svg xmlns="http://www.w3.org/2000/svg"
                     width="30" height="30" fill="white" class="bi bi-camera"
                        viewBox="0 0 16 16">
                        <path
                            d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                        <path
                            d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                    </svg>
                </a>
                    <div class="rounded-full hover:bg-gray-200 p-2 bg-black text-center justify-center flex"
                        style="width: 3rem; height: 3rem; opacity: 0.3;" (click)="clearCoverPicture()">
                        <a  class=" text-white text-2xl"><i class="fa-regular fa-x"></i></a>
                    </div>
                 </div>
            </div>

            <div class="relative p-3" style="bottom: 6rem;">
                <img id="profile-image" src="{{user.profile_picture || './../../../assets/images/default_profile.png'}}"
                class="absolute rounded-full w-36 h-36 border-[4px] ml-3 dark:border-black border-white" />

                <a class="rounded-full p-2 bg-black   hover:bg-gray-200 text-center justify-center flex"
                    style="width: 3rem; height: 3rem; opacity: 0.3; position: absolute; left: 4.3rem; top: 4rem;">

                    <input [(ngModel)]="form.profile_picture" (change)="onSelectFile($event)" type="file" name="profile_picture" multiple  accept="image/*,video/*"
                    class="absolute opacity-0 left-0 top-0 bottom-0  right-0">

                    <svg xmlns="http://www.w3.org/2000/svg"
                    width="30" height="30" fill="white" class="bi bi-camera"
                        viewBox="0 0 16 16">
                        <path
                            d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                        <path
                            d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                    </svg>
                </a>
                </div>

            <input [(ngModel)]="form.email" type="hidden"  value="{{ user ? (user.email? user.email: '') : 'Loading...' }}" name="remember">
            <div>
                <input [(ngModel)]="form.first_name"  value="{{ user ? (user.first_name? user.first_name: '') : 'Loading...' }}" id="firstname" name="firstname" type="text" autocomplete="current-name" required 
                class="mt-14 relative block w-full appearance-none border text-xl
                border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                   focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0" placeholder="First name">
            </div>
            <div>
                <input [(ngModel)]="form.last_name"  value="{{ user ? (user.last_name ? user.last_name : '') : 'Loading...' }}" id="lastname" name="lastname" type="text" autocomplete="current-name" required 
                class="relative block w-full appearance-none border text-xl
                  border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10
                    focus:border-indigo-500 focus:outline-none focus:ring-indigo-500" placeholder="Last name">
            </div>
            <div>
                <input [(ngModel)]="form.username"  value="{{ user ? (user.username ? user.username : '') : 'Loading...' }}" id="username" name="username" type="text" autocomplete="current-name" required 
                class="relative block w-full appearance-none border text-xl
                border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                   focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0 " placeholder="User name">
            </div>
            <div>
                <input [(ngModel)]="form.bio"  value="{{ user ? (user.bio ? user.bio : '') : 'Bio' }}" id="bio" name="bio"  autocomplete="bio" required class="relative block w-full appearance-none border border-gray-300 px-3 py-2
                  text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500
                  focus:outline-none focus:ring-indigo-500 text-xl" placeholder="Bio" >
            </div>
            <div>
                <input  [(ngModel)]="form.phone_number"  value="{{ user ? (user.phone_number? user.phone_number : '') : 'Phone_number' }}" id="phone_number" name="phone_number"  autocomplete="phone_number" required 
                class="relative block w-full appearance-none border text-xl
                border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                   focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0 " placeholder="Phone number" >
            </div>
            <div>
                <input [(ngModel)]="form.location" value="{{ user ? (user.location ? user.location: '') : 'Location' }}" id="location" name="location" type="location" autocomplete="location" required 
                class="relative block w-full appearance-none border text-xl
                border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                   focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0 " placeholder="Location">
            </div>
            <div>
                <input [(ngModel)]="form.website" value="{{ user ? (user.website? user.website: '') : 'Website' }}" id="website" name="website" type="website" autocomplete="website" required 
                class="relative block w-full appearance-none border text-xl
                  border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                     focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0 " placeholder="Website">
            </div>

            <div>
                <input [(ngModel)]="form.date_of_birth" value="{{ user ? (user.date_of_birth? user.date_of_birth: '') : 'Birth Date' }}" id="date_of_birth" name="date_of_birth" type="text"  required 
                class="relative block w-full appearance-none border text-xl
                  border-gray-300 p-4 dark:bg-black dark:text-white rounded-md text-gray-900 placeholder-gray-500 focus:z-10
                     focus:outline-none dark:placeholder-gray-200 dark:border-dark-gray_0 " placeholder="date_of_birth">
            </div>
            <button  type="submit" id="next" class="flex w-auto justify-center border border-transparent bg-gray-400 py-1 px-4
            text-xl text-white hover:bg-gray-200 focus:outline-none focus:ring-2
            focus:ring-indigo-500 rounded-full focus:ring-offset-2">
                        Save
                    </button>
        </form>
    </div>
</div>
<div *ngIf="showPopup" class="bg-opacity-50 fixed inset-0 z-40 bg-gray-600"></div>