
<div class="h-full w-full flex flex-col overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
    <!-- -----sticky header---- -->
    <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
        <!-- overlay div -->
        <div class="absolute w-full  h-full bg-white dark:bg-black sticky-nav-scroll -z-100"></div>
        <!-- content of fixed nav -->
        <div class="content z-0">
            <!-- <div class="py-2 w-8 h-8 flex items-center ml-4 text-xl justify-center dark:text-white rounded-full hover:bg-gray-100 dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50">
                <a href="./index.html"><i class="fa-solid fa-arrow-left"></i></a>
            </div> -->
            <h4 class="text-gray-800 pl-6 py-3 text-xl dark:text-white font-bold">Notifications</h4>
            <!-- ----Setting icon ---- -->
            <div class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-14 h-14 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 right-1 xl:top-2 top-0 " title="Settings">
                <i class="fa-solid fa-gear text-black dark:text-white cursor-pointer"></i>
            </div>
            <!-- content of fixed nav -->
            <div class="grid grid-cols-2 w-full z-0 border-b border-gray-100 dark:border-dark-gray_0">
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active" class="w-full hover:bg-gray-100 transition-colors text-gray-500‏
                hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50">
                    <button routerLink="/{{user.username}}/following" class="w-full font-semibold sm:py-4 py-6 text-black dark:text-white  ">Following</button>
                </div>
                <div [routerLinkActiveOptions]="{exact:true}" routerLinkActive="sticky-active" class="w-full hover:bg-gray-100 transition-colors text-gray-500‏
                relative hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50">
                    <button routerLink="/{{user.username}}/followers" class="w-full font-semibold sm:py-4 py-6  text-gray-500">Followers</button>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- !!!!!!!!!! start your code here !!!!!!!!!! -->

    <!-- !!!!!!!!!! end your code here !!!!!!!!!! -->

    <!-- !!!!!!!!!! end your code here !!!!!!!!!! -->
  <!-- -----------right---------- -->
  <div class="hidden xl:w-2/4 lg:w-3/6 h-full overflow-y-scroll scrollbar-hide lg:block pl-5 relative">
    <app-search></app-search>
    <app-trends-recommendation></app-trends-recommendation>
    <app-follow-recommendations></app-follow-recommendations>
    <app-footer></app-footer>
    <!-- <app-message-popup></app-message-popup> -->
</div>
