<div class="w-[90%] max-w-[600px] sm:gap-4  gap-2 min-w-[300px] dark:bg-black 
  bg-white  sm:p-6 py-6 px-3 xl:px-10  absolute shadow-lg rounded-2xl flex flex-col">
  <!-- close popup -->
  <div class="flex justify-end cursor-pointer w-full dark:text-white">
    <a routerLink="/exploreout"
      class="w-8 h-8  dark:hover:bg-dark-gray_0 hover:bg-main-blue_0  transition-colors dark:hover:bg-opacity-50 rounded-full flex items-center justify-center"><i
        class="fa-regular fa-x"></i></a>
  </div>
  <!-- twitter logo -->
  <div class="flex justify-center   w-full py-2">
    <a
      class="text-main-blue w-16 cursor-pointer dark:hover:bg-gray-50 dark:hover:bg-opacity-10 dark:text-gray-300 h-16 flex items-center justify-center  rounded-full  hover:bg-main-blue_0 transition-colors">
      <i class="fa-brands fa-twitter text-5xl"></i>
    </a>
  </div>

  <!-- Sign in heading -->
  <h1 class="text-3xl font-bold text-center  flex items-center justify-center w-full dark:text-gray-100 ">Join Twitter
    today</h1>



  <!-- sign in form -->
  <form class="flex flex-col sm:gap-4  gap-2  w-full items-center mb-3" #signupForm=ngForm (ngSubmit)="onSubmit()">
    <input type="hidden" name="remember" value="true">

    <!-- <div [hidden]="!error" class="text-red-600 text-lg">
      {{error}}
    </div> -->

    <div class="w-full grid grid-cols-2 sm:gap-4  gap-2">
      <!-- first name input -->
      <input [(ngModel)]="form.first_name" type="text" name="first_name"
        [ngClass]="error.first_name ? 'invalid-input' : ''"
        class="w-full appearance-none   dark:bg-black dark:border-dark-gray_0 dark:text-white dark:placeholder:text-gray-500 border text-lg rounded-lg border-gray-300 py-3 px-6  text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none"
        placeholder="{{error.first_name ? error.first_name : 'First name'}}" />

      <!-- last name input -->
      <input [(ngModel)]="form.last_name" type="text" name="last_name"
        [ngClass]="error.last_name ? 'invalid-input' : ''"
        class="w-full appearance-none  dark:bg-black dark:border-dark-gray_0 dark:text-white dark:placeholder:text-gray-500 border text-lg rounded-lg border-gray-300 py-3 px-6  text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none"
        placeholder="{{error.last_name ? error.last_name : 'Last name'}}" />
    </div>

    <!-- email input -->
    <input [(ngModel)]="form.email" type="email" name="email" [ngClass]="error.email ? 'invalid-input' : ''"
      class="w-full appearance-none  dark:bg-black dark:border-dark-gray_0 dark:text-white dark:placeholder:text-gray-500 border text-lg rounded-lg border-gray-300 py-3 px-6  text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none"
      placeholder="{{error.email ? error.email : 'Email address'}}" />

    <!-- password input -->
    <input [(ngModel)]="form.password" type="password" name="password" [ngClass]="error.password ? 'invalid-input' : ''"
      class="w-full appearance-none  dark:bg-black dark:border-dark-gray_0 dark:text-white dark:placeholder:text-gray-500 border text-lg rounded-lg border-gray-300 py-3 px-6  text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none"
      placeholder="{{error.password ? error.password : 'Password'}}" />

    <!-- password confirmation input -->
    <input [(ngModel)]="form.password_confirmation" type="password" name="password_confirmation"
      [ngClass]="error.password_confirmation? 'invalid-input' : ''"
      class="w-full appearance-none  dark:bg-black dark:border-dark-gray_0 dark:text-white dark:placeholder:text-gray-500 border text-lg rounded-lg border-gray-300 py-3 px-6  text-gray-900 placeholder-gray-500 focus:z-10 focus:outline-none"
      placeholder="{{error.password_confirmation ? error.password_confirmation : 'Password Confirmation'}}" />

    <!-- sign up button -->
    <input type="submit" value="Create Account" [disabled]="!signupForm.valid"
      class="rounded-full  flex w-full dark:bg-white dark:text-black dark:hover:bg-gray-200 justify-center items-center cursor-pointer border-2 border-transparent bg-black py-3 px-4 font-semibold  text-xl text-white hover:bg-main-blue_100 transition-colors focus:outline-none focus:ring-offset-2">
  </form>


  <!-- sign in -->
  <div class="text-lg text-center dark:text-gray-100">
    Already have an account?
    <a routerLink="/login" class="hashtag">Log in</a>
  </div>
</div>