<!-- -----container----- -->
<!--! -------middle ------- -->
<div
  class="h-full w-full flex flex-col overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
  <!-- -----sticky header---- -->
  <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
    <!-- overlay div -->
    <div
      class="absolute w-full border-b border-gray-100 dark:border-dark-gray_0 h-full bg-white dark:bg-black sticky-nav-scroll -z-100">
    </div>
    <!-- content of fixed nav -->
    <div class="content z-0">
      <div class="relative mx-3 mt-2 mb-2">
        <i class="fa-solid fa-magnifying-glass text-gray-600 absolute left-4 top-1/2 -translate-y-1/2"></i>
        <input type="text"
          class="w-full bg-light-gray_100 dark:bg-dark-gray_0 dark:bg-opacity-60 p-6 dark:bg-dim-400 focus:border focus:border-main-blue_100 text-gray-900 focus:outline-none font-normal h-9 pl-12 text-md rounded-full dark:text-white placeholder:text-gray-500"
          placeholder="Search Twitter" />
      </div>
      <!-- <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-14 h-14 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 right-1 xl:top-2 top-0"
        title="Settings">
        <i class="fa-solid fa-gear text-black dark:text-white cursor-pointer"></i>
      </div> -->
      <div class="grid grid-cols-5 w-full">
        <div class="w-full profile-active relative">
          <button
            class="w-full font-semibold sm:py-4 py-6 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 transition-colors">
            For you
          </button>
        </div>
        <div class="w-full">
          <button
            class="w-full font-semibold sm:py-4 py-6 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 transition-colors text-gray-500">
            Trending
          </button>
        </div>

        <div class="w-full">
          <button
            class="w-full font-semibold sm:py-4 py-6 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 transition-colors text-gray-500">
            News
          </button>
        </div>
        <div class="w-full">
          <button
            class="w-full font-semibold sm:py-4 py-6 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 transition-colors text-gray-500">
            Sports
          </button>
        </div>
        <div class="w-full">
          <button
            class="w-full font-semibold sm:py-4 py-6 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-50 transition-colors text-gray-500">
            Entertainment
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--trends and ## -->

  <!--trends and ## -->
  <div class="text-mediumbg-white relative flex flex-col
                         w-full border-b
                         border-gray-100
                         dark:border-dark-gray_0 cursor-pointer
                         text-black dark:text-white
                         dark:hover:bg-opacity-50 pt-2 pb-3  ">
    <!--Trend1-->
    <div class="relative h-25 flex flex-col
                         hover:bg-gray-100 dark:hover:bg-dark-gray_200
                         dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Sports </span>
        <p class="mx-1 flex relative bottom-1 font-bold dark:text-dark-gray_300 text-light-gray_100">.</p>
        <p class="dark:text-dark-gray_300 text-light-gray_100">Trending</p>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">#World cup</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">1M Tweets</p>
      </div>
    </div>
    <!--Trend2-->
    <div class="relative h-25 flex flex-col
                        hover:bg-gray-100 dark:hover:bg-dark-gray_200
                         dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Egypt </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">#World cup</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">1M Tweets</p>
      </div>
    </div>
    <!--Trend3-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Egypt </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">ليلي علوي#</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">225k Tweets</p>
      </div>
    </div>

    <!--Trend4-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Egypt </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">الشباب ابها#</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">400K Tweets</p>
      </div>
    </div>
    <!--Trend5-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Sports </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">#Messi</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">10M Tweets</p>
      </div>
    </div>
    <!--Trend6-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Business </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">#Fly India</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">700K Tweets</p>
      </div>
    </div>
    <!--Trend7-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Egypt </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">سعر جرام الدهب#</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">80K Tweets</p>
      </div>
    </div>
    <!--Trend8-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Egypt </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">MineCraft1</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">1M Tweets</p>
      </div>
    </div>
    <!--Trend9-->
    <div class="relative h-25 flex flex-col hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
      <div class="flex items-center mt-2 mx-2">
        <span class="ml-1 text-md font-normal dark:text-dark-gray_300 dotted-text text-light-gray_100">Trending in
          Gaming </span>
      </div>
      <div
        class="absolute hidden sm:flex justify-center items-center dark:text-white xl:w-fit xl:h-fit w-10 h-10 xl:px-4 xl:py-3 rounded-full hover:bg-gray-200 dark:hover:bg-blue-600 dark:hover:bg-opacity-20 right-1 xl:top-2 top-0"
        title="Settings">
        <i
          class="fa-solid fa-ellipsis text-lg items-center text-gray-500 dark:text-dark-gray_300 dotted-text text-light-gray_100cursor-pointer"></i>
      </div>
      <div>
        <p class="font-semibold mx-2 dark:text-white text-lg px-2">#BrawlStars</p>
        <p class="dark:text-dark-gray_300 mx-2 px-2">3,140 Tweets</p>
      </div>
    </div>
  </div>
</div>
<!--------------right---------- -->
<div class="hidden mt-3 xl:w-2/4 lg:w-3/6 h-full overflow-y-scroll scrollbar-hide lg:block pl-5 relative">
  <div class="bg-light-gray_100 dark:bg-dark-gray_0 dark:bg-opacity-60 rounded-2xl mb-4">

    <h3 class="text-gray-900 dark:text-white font-extrabold p-4 text-xl dark:border-dim-200 mb-1">
      New to Twitter?
    </h3>
    <span class="text-gray-900 dark:text-gray-500 p-4 text-sm dark:border-dim-200 mb-1">
      Sign up now to get your own timeline!</span>
    <div class="right-follow gap-2">
      <a href=""
        class="w-full text-lg font-semibold bg-black text-white items-center hover:opacity-80 flex justify-center px-4 py-2 rounded-full dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white">
        <img src="../../../assets/images/google.png" class="w-7 mr-2" />
        Sign up with Google</a>
    </div>
    <div class="right-follow gap-2">
      <a href=""
        class="w-full text-lg font-semibold bg-black text-white items-center hover:opacity-80 flex justify-center px-4 py-2 rounded-full dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white">
        <img src="../../../assets/images/Facebook-logo.png" class="w-12" />
        Sign up with Facebook</a>
    </div>
    <div class="right-follow gap-2">
      <a href="" routerLink="/signup"
        class="w-full text-lg mb-4 font-semibold bg-black text-white items-center hover:opacity-80 flex justify-center px-4 py-2 rounded-full dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white">Create
        account
      </a>
    </div>

  </div>
  <app-footer></app-footer>

</div>