<!---------middle ---------->
<div
    class="h-full w-full flex flex-col overflow-y-auto scrollbar-hide scroll-smooth dark:border-dark-gray_0 border-x border-gray-100">
    <!-- -----sticky header---- -->
    <div class="flex flex-col sticky top-0 left-0 right-0 z-50 bg-transparent">
        <!-- overlay div -->
        <div
            class="absolute w-full border-b border-gray-100 dark:border-dark-gray_0 h-full bg-white dark:bg-black sticky-nav-scroll -z-100">
        </div>
        <!-- content of fixed nav -->
        <div class="content z-0">
            <div class="relative mx-3 mt-2 mb-2 ">
                <i class="fa-solid fa-magnifying-glass text-gray-600 absolute left-4 top-1/2 -translate-y-1/2"></i>
                <input type="text" [value]="searchQuery ? searchQuery : ''"
                    class="w-full bg-light-gray_100 dark:bg-dark-gray_0 
                    dark:bg-opacity-60 p-6 dark:bg-dim-400 focus:border focus:border-main-blue_100 text-gray-900 focus:outline-none font-normal h-9 pl-12 text-md rounded-full dark:text-white placeholder:text-gray-500"
                    placeholder="Search Twitter" />
            </div>
        </div>
    </div>
    <div *ngIf="isInExplore; else searchBlock">
        <div *ngIf="hashtags && hashtags.length" class="text-mediumbg-white relative flex flex-col w-full border-b border-gray-100dark:border-dark-gray_0 cursor-pointer
                             text-black dark:text-white
                             dark:hover:bg-opacity-50 pt-2 pb-3  ">
            <h3 class="text-gray-900 dark:text-white font-extrabold p-4 text-xl dark:border-dim-200 mb-1 ">
                Trending Hashtags</h3>

            <!--Trend1-->
            <div routerLink="/search" [queryParams]="{'type':'hashtag_tweets', 'q': hashtag.name}"
                *ngFor="let hashtag of hashtags"
                class="relative h-25 flex flex-col px-2 hover:bg-gray-100 dark:hover:bg-dark-gray_200 dark:hover:bg-opacity-20">
                <div class="flex items-center mt-2 mx-2">
                    <p class="dark:text-dark-gray_300 text-light-gray_100">Trending this week</p>
                </div>
                <div>
                    <p class="font-semibold  dark:text-white  px-2">#{{hashtag.name}}</p>
                    <p class="dark:text-dark-gray_300 px-2">{{hashtag.tweets_count | humanNumbers}} Tweets</p>
                </div>
            </div>
        </div>
        <!--Follow people-->
        <div *ngIf="users && users.length" class="flex flex-col w-full
                             border-b border-gray-100
                             dark:border-dark-gray_0
                              text-black dark:text-white mt-4
                        ">
            <h3 class="text-gray-900 dark:text-white
                            font-extrabold px-4 text-xl
                            dark:border-dim-200 mb-4 ">
                Who to follow</h3>
            <!--follow1-->
            <div class="right-follow gap-2 hover:bg-gray-100 dark:hover:bg-dark-gray_0  dark:hover:bg-opacity-30 "
                *ngFor="let u of users ? users.slice(0,3) : [];let i = index">
                <!--! -----user info block ---- -->
                <div class="flex items-center gap-1 w-3/4">
                    <img routerLink="/{{u.username}}"
                        src="{{u.profile_picture ? u.profile_picture: './../../../../assets/images/default_profile.png'}}"
                        class="twitter-user-img" alt="" />
                    <div class="ml-3 text-md w-2/3">
                        <div routerLink="/{{u.username}}" class="flex max-w-full w-full -mb-1 mt-1">
                            <h5
                                class="text-gray-800 h-fit dark:text-white font-bold max-w-[70%] hover:underline dotted-text">
                                {{u.first_name}} {{u.last_name}}</h5>
                            <svg xmlns="http://www.w3.org/2000/svg" *ngIf="u?.verified" fill="none" viewBox="0 0 24 24"
                                strokeWidth="{1.5}" stroke="currentColor"
                                class="w-6 min-w-[25px] text-white fill-main-blue_100">
                                <path strokeLinecap="round" strokeLinejoin="round"
                                    d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                            </svg>
                        </div>
                        <p routerLink="/{{u.username}}"
                            class="text-gray-500 h-fit dark:text-dark-gray_300 max-w-[70%] dotted-text">@{{u.username}}
                        </p>
                        <p routerLink="/{{u.username}}" class="mt-1 h-fit max-w-[70%] dotted-text dark:text-white">
                            {{u.bio}}
                        </p>
                    </div>
                </div>
                <!-- ! --------follow button ---- -->
                <button (click)="follow(u.id); u.followed_by = !u.followed_by"
                    class="w-1/4 dark:hover:bg-main-white_100 text-sm font-bold bg-black text-white items-center flex justify-center px-4 py-2 rounded-full hover:bg-light-black dark:bg-white dark:text-black">
                    {{u?.followed_by?"Unfollow":"Follow" }}
                </button>
            </div>
            <div class="text-blue-400 p-3 cursor-pointer right-trend">
                <a class="hashtag" routerLink="/connect">Show more</a>
            </div>
        </div>
        <h3 class="text-gray-900 dark:text-white font-extrabold p-4 text-xl dark:border-dim-200 mb-1 ">Trending Tweets
        </h3>
        <app-tweet *ngIf="tweets && tweets.length" [tweets]="tweets"></app-tweet>

    </div>
    <!-- !!!!!!!!!! end your code here !!!!!!!!!! -->
</div>




<ng-template #searchBlock>
    <div *ngIf="searchQuery;else noResults" [ngSwitch]="this.searchType" class="w-full h-full flex">
        <div class="w-full" *ngSwitchCase="'users'">
            you are in users
        </div>
        <div class="w-full" *ngSwitchCase="'tweets'">
            you are in tweets
        </div>
        <div class="w-full" *ngSwitchCase="'hashtags'">
            you are in hashtag
        </div>
        <div class="w-full" *ngSwitchCase="'hashtag_tweets'">
            <app-tweet [tweets]='tweets'></app-tweet>
        </div>
        <div class="w-full" *ngSwitchCase="'user_tweets'">
            you are in user tweets
        </div>

        <div *ngSwitchDefault class="flex flex-col w-full items-center mt-20">
            <img class="w-full max-w-[600px]" src="./../../../assets/images/search.png">
            <p class="mt-5 text-xl text-gray-500 dark:text-dark-gray_300 text-center">
                No Search results, try searching for something else.
            </p>
        </div>
    </div>

    <ng-template #noResults>
        <div class="flex flex-col w-full items-center mt-20">
            <img class="w-full max-w-[600px]" src="./../../../assets/images/search.png">
            <p class="mt-5 text-xl text-gray-500 dark:text-dark-gray_300 text-center">
                No Search results, try searching for something else.
            </p>
        </div>
    </ng-template>

</ng-template>





















<!--! -----------right---------- -->
<div class="hidden xl:w-2/4 lg:w-3/6 mt-2 h-full overflow-y-scroll scrollbar-hide lg:block pl-5 relative">
    <app-follow-recommendations></app-follow-recommendations>
    <app-footer></app-footer>
    <app-message-popup></app-message-popup>
</div>