<!--! ------hashtags---- -->
<div class="bg-light-gray_100 dark:bg-dark-gray_0 dark:bg-opacity-60 rounded-2xl mb-4 overflow-hidden">
    <h3 class="text-gray-900 dark:text-white font-extrabold p-4 text-xl dark:border-dim-200 mb-1">What’s happening
    </h3>
    <div class="right-trend">
        <h4 class="font-bold text-gray-700 dark:text-white">Palestine</h4>
        <p class="text-sm text-gray-600 dark:text-dark-gray_300">2.3B Tweets</p>
    </div>
    <div class="right-trend">
        <h4 class="font-bold text-gray-700 dark:text-white">#Syria</h4>
        <p class="text-sm text-gray-600 dark:text-dark-gray_300">13.7K Tweets</p>
    </div>
    <div class="right-trend">
        <h4 class="font-bold text-gray-700 dark:text-white">#Coinbase CEO</h4>
        <p class="text-sm text-gray-600 dark:text-dark-gray_300">90K Tweets</p>
    </div>
    <div class="right-trend">
        <h4 class="font-bold text-gray-700 dark:text-white">Egypt</h4>
        <p class="text-sm text-gray-600 dark:text-dark-gray_300">90K Tweets</p>
    </div>
    <div class="right-trend">
        <h4 class="font-bold text-gray-700 dark:text-white">الأهلي</h4>
        <p class="text-sm text-gray-600 dark:text-dark-gray_300">90K Tweets</p>
    </div>
    <div class="text-blue-400 p-3 cursor-pointer right-trend">Show more</div>
</div>