<div class="flex-col h-full justify-between">
  <!--content-->
  <div class="border-0 rounded-lg  relative flex flex-col w-full bg-white  dark:bg-black dark:text-white">
    <!--header-->
    <div class="flex justify-between items-center px-4 py-2 pt-2 ">
      <div class="flex items-center gap-1 w-3/4">
        <a class=" px-4 py-2 " type="button" (click)="toggleModal()" title="close">
          <i class="fa-solid fa-xmark text-xl"></i>
        </a>
        <h4 class="text-xl ">
          New Message
        </h4>
      </div>
      <a
          routerLink="/messages"
          class="dark:hover:bg-main-white_100  bg-black text-white items-center flex justify-center py-1  px-3 rounded-full hover:bg-light-black dark:bg-gray-500 dark:text-black"
          >Next</a
      >
    </div>
    <div class="relative mb-4 ml-4">
      <i class="fa-solid fa-magnifying-glass absolute left-4 top-1/2 -translate-y-1/2 text-main-blue_100"></i>
      <input
          type="text"
          class="w-full h-7 pl-12  p-6  dark:bg-black focus:outline-none font-normal  text-md text-black dark:text-white placeholder:text-gray-500 border-b border-gray-500 dark:border-dark-gray_0"
          placeholder="Search people"
      />
    </div>

    <!-- -----------Finding Input Result Searching-------->
<div class="flex-grow flex-col  justify-between">
  <div class="">
      <div class="px-4 py-4  dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 cursor-pointer ">
        <div class="flex items-center gap-1 w-3/4">
            <img src="../../../assets/images/img.jpeg" class="twitter-msg-img" alt="" />
            <div class="ml-3 text-md w-2/3">
                <div class="flex max-w-full w-full ">
                    <h5 class="text-gray-800 dark:text-white">Group2</h5>
                </div>
                <p class="text-gray-500 dark:text-dark-gray_300">@group__2</p>

            </div>
        </div>
      </div>
    <div class="px-4 py-4  dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 cursor-pointer ">
      <div class="flex items-center gap-1 w-3/4">
          <img src="../../../assets/images/photo.jpg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full ">
                  <h5 class="text-gray-800 dark:text-white">Picanto</h5>
              </div>
              <p class="text-gray-500 dark:text-dark-gray_300">@KiaCom</p>

          </div>
      </div>
    </div>
    <div class="px-4 py-4  dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 cursor-pointer ">
      <div class="flex items-center gap-1 w-3/4">
          <img src="../../../assets/images/img.jpeg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full ">
                  <h5 class="text-gray-800 dark:text-white">YesLa</h5>
              </div>
              <p class="text-gray-500 dark:text-dark-gray_300">@Tesla</p>

          </div>
      </div>
    </div>
    <div class="px-4 py-4  dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 cursor-pointer ">
      <div class="flex items-center gap-1 w-3/4">
          <img src="../../../assets/images/image.jpeg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full ">
                  <h5 class="text-gray-800 dark:text-white">Dummy</h5>
              </div>
              <p class="text-gray-500 dark:text-dark-gray_300">@Dummydummy</p>

          </div>
      </div>
    </div>
    <div class="px-4 py-4  dark:hover:bg-dark-gray_0 dark:hover:bg-opacity-50 hover:bg-gray-100 cursor-pointer ">
      <div class="flex items-center gap-1 w-3/4">
          <img src="../../../assets/images/img.jpeg" class="twitter-msg-img" alt="" />
          <div class="ml-3 text-md w-2/3">
              <div class="flex max-w-full w-full ">
                  <h5 class="text-gray-800 dark:text-white">JoeBla</h5>
              </div>
              <p class="text-gray-500 dark:text-dark-gray_300">@BlaBla</p>

          </div>
      </div>
    </div>
    <!-- <div class="flex-grow h-screen px-4 py-4 cursor-pointer">
    </div> -->
  </div>
</div>
</div>

<!-- ============================================= -->
</div>
